<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delivery employee 222222222</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <di class="row">
                <div class="col-md-12">
                    <h1>add delivery employee 22222222</h1>
                </div>
            </di>
        </div>
    </header>

    <main class="container mt-4">
        <section id="form" class="lg-light py-5">
            <div class="container">
                <p>Enter delivery employee details</p>
                   <form action ="/employees/delivery/create" method="post"> 
                    <div class = "form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" id="salary" name="salary" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="bankAccount">Bank Account</label>
                        <input type="text" id="bankAccount" name="bankAccount" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="insuranceNumber">insurance number</label>
                        <input type="text" id="insuranceNumber" name="insuranceNumber" class="form-control" required>
                    </div>
                    <button type="submit" class="btn-primary">Submit</button>
                </form> 
            </div>
        </section>
    </main>
</body>
</html>