<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Sales Employee Base Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add Base Info</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="form" class="lg-light py-5">
            <div class="container">
                <form action="/add/sales/employee/base" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" name="salary" class="form-control" required>
                    </div>
                    <button type="submit" class="btn-primary">Next</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>