<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Select all sales employees</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="employees-sales" class="mt-4">
            <h2>Sales employee list</h2>
            {% if SalesEmployee and SalesEmployee.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Bank Account Number</th>
                        <th scope="col">National Insurance Nubmer</th>
                        <th scope="col">Commission Rate</th>
                    </tr>
                    <tbody>
                {% for employee in SalesEmployee %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>{{ employee.bankAccount }}</td>
                            <td>{{ employee.insuranceNumber }}</td>
                            <td>{{ employee.commissionRate }}</td>
                            <td><a href="/employees-sales/{{ employee.employeeId }}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
            {% else %}
                Sales employee list not available.
            {% endif %}
        </section>
    </main>
</body>
</html>